#Main {
    background: url(../img/banner-principal.webp);
    background-size: cover;
}
#ContainerApresentacao {
    padding: 5rem 0px 11.5rem 0px;
}
#Arrow {
    position: relative;
    animation: mymove 2s infinite;
}
@keyframes mymove {
    0% {top: 0px;}
    25% {top: 25px;}
    50% {top: 0px; }
  }
#SessaoCards {
    gap: .8rem;
}
#Cards {
    border: 3px solid #b56afc !important;
}
#LinkCards:hover {
    background: var(--bs-white) !important;
    color: var(--bs-black);
}
#LinkCards {
    font-weight: 700;
    border-radius: 20px;
}
#ListaImg {
    gap: 0.5rem;
}
#ListaImg li {
    border-radius: 15px;
    width: 9rem;
    height: 9rem;
}
#Btnconato03 {
 border-radius: 20px;
 padding: .5rem 2rem;
}