/*Index*/
    #Arrow {
        position: relative;
        animation: mymove 2s infinite;
    }
    @keyframes mymove {
        0% {top: 0px;}
        25% {top: 25px;}
        50% {top: 0px; }
    }
/*Index*/  
/*Cards*/
    #SessaoCards {
        gap: .8rem;
    }
    #Cards, #Cards02, #Cards03, #Cards04, #Cards05 {
        border: 3px solid #b56afc !important;
    }
    #LinkCards:hover {
        background: var(--bs-white) !important;
        color: var(--bs-black);
    }
    #LinkCards {
        font-weight: 700;
        border-radius: 20px;
    }
/*Cards*/
/*Parcerias / Clientes*/
    #ListaImg {
        gap: 0.5rem;
    }
    #ListaImg li {
        border-radius: 15px;
        width: 9rem;
        height: 9rem;
    }
/*Parcerias / Clientes*/
/*Sessao Numero*/
    #NumerosSessao {
        gap: 5rem;
    }
/*Sessao Numero*/