@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-weight: 600;
    list-style: none;
}
/*Vareaveis*/
    :root {
        --roxo-vendex: #b56afc;
        --rosa-vendex: #fc6aed;
        --background-vendx: linear-gradient(70deg, #fc6aed 7%, #b56afc 100%);
        --background-vendx02: linear-gradient(70deg, #b56afc 7%, #fc6aed 100%);
    }
    #Img {
        width: 40% !important;
        box-shadow: 5px 10px 30px #fc6aed69;
    }
    h2 {
        margin: 0;
    }
    h3 {
        margin: 0;
    }
/*Vareaveis*/
/*Body*/
    main {
        background: var(--bs-black);
    }
/*Body*/
