#offcanvasNavbar {
    background: var(--roxo-vendex) !important;
    font-weight: 700 !important;
}
.dropdown-item:focus, .dropdown-item:hover {
    font-weight: 700 !important;
    background: var(--roxo-vendex) !important;
}
p, h1 {
    margin: 0px;
}
#BtnContato {
    padding: 0.4rem 3.5rem;
    background: var(--bs-black) !important;
    border-radius: 15px;
    font-weight: 700;
}
#BtnContato:hover{
    background: var(--bs-white) !important;
    color: var(--bs-black) !important;
}