/*Header*/    
    #offcanvasNavbar {
        background: var(--roxo-vendex) !important;
        font-weight: 700 !important;
    }
    .dropdown-item:focus, .dropdown-item:hover {
        font-weight: 700 !important;
        background: var(--roxo-vendex) !important;
    }
    /*Efeito do header secundario*/
        .HeaderSecundario {
            opacity: 0;
            pointer-events: none;
            transition: all .2s;
        }
        .HeaderSecundario.active{
            pointer-events: auto;
            opacity: 1;
        }
    /*Efeito do header secundario*/
/*Header*/
/*Icons de rede social*/
    #icons {
        font-size: 3.5rem !important;
    }
    #icons02 {
        font-size: 1.5rem !important;
        background: var(--bs-white);
        border-radius: 20px;
        padding: .5rem;
        font-weight: 700;
        color: var(--rosa-vendex);
    }
    #icons02:hover {
        background: var(--rosa-vendex);
        color: var(--bs-white);
    }
/*Icons de rede social*/
/*Buttons*/
    .Btn01 {
        border-radius: 15px;
        padding: .2rem 2rem;
        transition: all .5s;
        color: var(--bs-white);
        background: linear-gradient(135deg, var(--roxo-vendex) 0%, var(--rosa-vendex) 100%) !important;
    }
    .Btn01:hover {
        border-radius: 0px;
    }
    

/*Buttons*/
/*Contato*/
    .SectionContato {
        height: 20.5rem;
    }
/*Contato*/    
#icons03 {
    font-size: 4rem !important;
    background: var(--bs-white);
    border-radius: 30px;
    padding: .5rem;
    font-weight: 700;
    color: var(--rosa-vendex);
    transition: all .5s;
}
#icons03:hover {
    background: var(--rosa-vendex);
    color: var(--bs-white);
}

input {
    border-radius: 20px;
    padding: 0.4rem 1rem;
}
select {
    border-radius: 20px;
    padding: 0.5rem 1rem;
}
#BtnFormulario {
    border-radius: 20px;
    transition: all .5s;
}
#BtnFormulario:hover {
    background: var(--background-vendx);
}